*{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    font-family: 'Tiro Gurmukhi', serif;
    background-color: rgb(245, 241, 234);
    width: fit-content;
}

.navbar{
    background-color: rgb(234, 223, 208);
    font-size: 1.2rem;
}

.nav-item link{
   color: dimgray;
    font-size: 1.5rem;
}

.title h1{
    font-size: 4rem;
    padding-bottom: 2rem;
}

.text-2{
    border-top: solid 1px dimgray;
    border-bottom: solid 1px dimgray;
    background-color:rgb(234, 223, 208) ;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}


